USE [master]
GO
/****** Object:  Database [Banka]    Script Date: 1.05.2023 18:51:21 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Banka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Banka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[AdresDetay] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bilancolar]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilancolar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [money] NOT NULL,
 CONSTRAINT [PK_Bilancolar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GercekMusteriler]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GercekMusteriler](
	[MusterilerId] [int] NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[TcKimlikNO] [char](11) NOT NULL,
 CONSTRAINT [PK_GercekMusteriler] PRIMARY KEY CLUSTERED 
(
	[MusterilerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kanallar]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kanallar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kanallar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNO] [char](10) NOT NULL,
	[KanalId] [int] NOT NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sendikalar]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sendikalar](
	[MusteriId] [int] NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sendikalar] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicariFaaliyetler]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicariFaaliyetler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GercekMusteriId] [int] NOT NULL,
	[BaslangİcTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_TicariFaaliyetler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuzelMusteriler]    Script Date: 1.05.2023 18:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuzelMusteriler](
	[MusteriId] [int] NOT NULL,
	[Unvarn] [varchar](50) NOT NULL,
	[VergiNo] [char](10) NOT NULL,
 CONSTRAINT [PK_TuzelMusteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_GercekMusteriler_TcKimlikNo]    Script Date: 1.05.2023 18:51:22 ******/
ALTER TABLE [dbo].[GercekMusteriler] ADD  CONSTRAINT [UK_GercekMusteriler_TcKimlikNo] UNIQUE NONCLUSTERED 
(
	[TcKimlikNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Musteriler_MusteriNo]    Script Date: 1.05.2023 18:51:22 ******/
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [UK_Musteriler_MusteriNo] UNIQUE NONCLUSTERED 
(
	[MusteriNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_TicariFaaliyetler_GercekMusteriId]    Script Date: 1.05.2023 18:51:22 ******/
ALTER TABLE [dbo].[TicariFaaliyetler] ADD  CONSTRAINT [UK_TicariFaaliyetler_GercekMusteriId] UNIQUE NONCLUSTERED 
(
	[GercekMusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Musteriler]
GO
ALTER TABLE [dbo].[Bilancolar]  WITH CHECK ADD  CONSTRAINT [FK_Bilancolar_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[Bilancolar] CHECK CONSTRAINT [FK_Bilancolar_Musteriler]
GO
ALTER TABLE [dbo].[GercekMusteriler]  WITH CHECK ADD  CONSTRAINT [FK_GercekMusteriler_Musteriler] FOREIGN KEY([MusterilerId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[GercekMusteriler] CHECK CONSTRAINT [FK_GercekMusteriler_Musteriler]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Kanallar1] FOREIGN KEY([KanalId])
REFERENCES [dbo].[Kanallar] ([Id])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Kanallar1]
GO
ALTER TABLE [dbo].[Sendikalar]  WITH CHECK ADD  CONSTRAINT [FK_Sendikalar_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[Sendikalar] CHECK CONSTRAINT [FK_Sendikalar_Musteriler]
GO
ALTER TABLE [dbo].[TicariFaaliyetler]  WITH CHECK ADD  CONSTRAINT [FK_TicariFaaliyetler_GercekMusteriler] FOREIGN KEY([GercekMusteriId])
REFERENCES [dbo].[GercekMusteriler] ([MusterilerId])
GO
ALTER TABLE [dbo].[TicariFaaliyetler] CHECK CONSTRAINT [FK_TicariFaaliyetler_GercekMusteriler]
GO
ALTER TABLE [dbo].[TuzelMusteriler]  WITH CHECK ADD  CONSTRAINT [FK_TuzelMusteriler_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[TuzelMusteriler] CHECK CONSTRAINT [FK_TuzelMusteriler_Musteriler]
GO
USE [master]
GO
